.container {
    position: absolute;
    top: 0;
    z-index: -1;
    padding: 20vh 16vw;
    background-color: var(--golden);
    min-width: 100vw;
}

.container h2 {
    letter-spacing: 10px;
    font-size: 1.8rem;
    margin-bottom: 3vh;
}

.prices-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5vh;
    column-gap: 1vw;
}

.remark {
    width: 1vw;
    writing-mode: vertical-lr;
    color: var(--accent);
    font-weight: 700;
    align-self: center;
}

@media screen and (max-width: 600px) {
    .prices-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .remark {
        display: none;
    }

    .container {
        padding: 8vh 0;
        text-align: center;
    }
}