.container {
    width: 32vw;
    height: auto;
    padding: 30px 10px 80px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border: 1px solid black;
}

.container:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container h3 {
    letter-spacing: 6px;
    line-height: 28px;
    margin-bottom: 2vh;
}

.wedding, .lifestyle {
    font-size: 1.4rem;
    font-weight: 300;
}


.price {
    font-weight: 600;
    padding-top: 2vh;
}

.details {
    margin: 2vh 0;
    line-height: 17px;
}

.additional {
    line-height: 17px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 70vw;
    }
}