.container {
    position: absolute;
    top: 0;
    z-index: -1;
    padding: 20vh 16vw 5vh;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--golden);
}

.remark {
    text-align: center;
    margin-top: 5vh;
    letter-spacing: 0.2px;
    font-size: 1.5rem;
}

.remark span {
    color: var(--accent);
    font-weight: bold;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4vh;
}

.item {
    flex-basis: 300px;
    height: 375px;
    position: relative;
    text-align: center;
}

.special:hover {
    cursor: pointer;
    color: var(--hover);
}

.special p {
    position: absolute;
    bottom: 10%;
    left: 10%;
    right: 10%;
    width: auto;
    background-color: transparent;
    color: var(--menu);
    letter-spacing: 4px;
}

.special svg {
    vertical-align: middle;
}


.first-title {
    font-size: 3rem;
    text-align: center;
    line-height: 44px;
    color: var(--menu);
    font-weight: bold;
    letter-spacing: 6px;
    display: flex;
    text-align: center;
}

.first-title p {
    margin: auto;
}

.last-title {
    color: var(--accent);
    font-weight: 700;
    font-size: 3.5rem;
    text-align: center;
    display: flex;
}

.last-title p {
    margin: auto;
}

@media screen and (max-width: 1600px) {
    .container {
        padding: 15vh 10vw;
    }
}

@media screen and (max-width: 750px) {
    .container {
        padding: 5vh 0 2vh;
    }

    .remark {
        margin: 2vh;
    }

    .first-title {
        height: 20vh;
    }
}