:root {
  --golden: #C1AD8A;
  --activeMenu: #A42136;
  --hover: #A42136;
  --accent: #A42136;
  --menu: #ffffffd0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}