.navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    margin: 0 16vw;
    color: var(--menu);
}

.links-container {
    display: flex;
    gap: 3vw;
    font-size: 1rem;
}

.normal:hover {
    color: var(--hover);
}

.active {
    color: var(--activeMenu);
    font-weight: 700;
}

@media screen and (max-width: 850px) {
    .links-container {
        font-size: 1.2rem;
        margin: 1vh 0.5vw;
    }

    .navigation {
        justify-content: center;
    }

    .logo-container {
        display: none;
    }

    .navigation {
        margin: 1vh 1vw;
    }
}