.container {
    position: absolute;
    top: 0;
    z-index: -1;
    padding: 20vh 16vw;
    min-width: 100vw;
    background-color: var(--golden);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-wrapper h2 {
    align-self: flex-start;
    letter-spacing: 7px;
}

.image-block {
    position: relative;
    text-align: left;
}

.name {
    color: var(--accent);
    font-size: 2.2rem;
    letter-spacing: 7px;
    position: absolute;
    bottom: 10%;
    right: 25%;
    left: 25%;
    width: auto;
}

.text {
    padding-bottom: 8vh;
}

.button {
    font: inherit;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 3px;
    width: 15vw;
    height: 5vh;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .wrapper {
        flex-wrap: wrap;
    }

    .container {
        padding: 10vh 20vw;
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding: 8vh 0;
    }
    
    .button {
        font-size: 0.8rem;
        width: 35vw;
    }

    .item-wrapper h2 {
        margin: 2vh 2vw;
    }

    .text {
        margin: 0 2vw;
    }
    
    .img {
        width: 90%;
        height: auto;
    }
}
