.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    padding: 20vh 16vw;
    background-size: cover;
    overflow: hidden;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.helper {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.242);
    width: 100vw;
    height: 12.5vh;
}

.navigation-buttons {
    padding-top: 25vh;
    display: flex;
    justify-content: space-between;
}

.navigation-buttons button {
    width: 5vw;
    height: 5vh;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.info {
    padding-top: 19vh;
    color: white;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.place {
    margin: 0;
}

.info button {
    font: inherit;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 2px;
    width: 20vw;
    height: 5vh;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.532);
}

.info button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media screen and (max-width: 1100px) {
    .info {
        font-size: 1.5rem;
    }
    .info button {
        font-size: 0.8rem;
        letter-spacing: 2px;
        width: 25vw;
    }
    .navigation-buttons button {
        width: 15vw;
        height: 15vh;
    }
}

@media screen and (max-width: 850px) {
    .helper {
        height: 8vh;
    }
}