.container {
    position: absolute;
    top: 0;
    z-index: -1;
    padding: 20vh 16vw;
    background-color: var(--golden);
    min-width: 100vw;
}

.title {
    background-image: url('/blog.jpg');
    height: 30vh;
    background-size: cover;
    margin-bottom: 5vh;
    display: flex;
}

.text {
    margin: auto;
    font-size: 4rem;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}