.image-wrapper {
    position: relative;
}

.place {
    color: var(--accent);
    font-size: 1.5rem;
    position: absolute;
    bottom: 10%;
    right: 40%;
    left: 40%;
}

.button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: 700;
    margin: 3vh 0;
}