.container {
    position: absolute;
    top: 0;
    z-index: -1;
    padding: 15vh 16vw 5vh;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--golden);
    text-align: center;
}

.img {
    margin: 0 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.title {
    color: rgba(255, 255, 255, 0.74);
    letter-spacing: 11px;
    word-spacing: 11px;
    font-weight: 400;
    padding-bottom: 2vh;
    font-size: 2rem;
}

@media screen and (max-width: 1450px) {
    .container {
        padding: 10vh 0;
    }

    .img {
        width: 30%;
        height: auto;
    }

    .img-horizontal {
        height: 25%;
        width: auto;
    }
    
    .title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .container {
        padding: 8vh 0;
    }

    .img {
        width: 80%;
        height: auto;
    }
    
    .title {
        font-size: 1rem;
    }
}
