.container {
    text-align: center;
}

.container:hover {
    color: var(--hover);
}

.name {
    font-size: 1.75rem;
    word-spacing: 9px;
    letter-spacing: 5px;
}

.title {
    font-size: 0.6rem;
    letter-spacing: 10px;
    margin-top: -1.5vh;
    margin-left: 1vw;
}

@media screen and (max-width: 1100px){
    .name {
        font-size: 1.5rem;
        word-spacing: 7px;
        letter-spacing: 4px;
    }
}

@media screen and (max-width: 600px){
    .container{
        display: none;
    }
}